* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
  font-size: 14px; 
  font-weight: 500;
}

/* Estilos básicos para todos os elementos */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-size: 16px!important;
}

.Button {
  margin: 5px 0;
  background-color: #2cbeb7;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.Input {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Span {
  text-decoration: underline;
}

.Header, .Footer, .Sidebar {
  background-color: #2D939C;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 24px;
  font-weight: bold;
}

.ant-typography, .ant-layout-sider-children {
  font-size: 20px;
  font-weight: bold;
}

.Container {
  min-height: 100vh;
}

.Image {
  max-width: 100%;
  height: auto;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  background-color: #f2f4f7;
  color: #333;
  flex: 1;
  padding: 20px;
}

.col-2 {
  background-color: #fff;
  color: #333;
  flex: 2;
  padding: 20px;
}

/* Estilos específicos para telas menores (celulares) */
@media (max-width: 768px) {
  .Button {
    width: 100%;
  }
  
  .Input {
    width: 100%;
  }
  
  .Content {
    font-size: 20px;
  }
  
  .Header, .Footer, .Sidebar {
    font-size: 20px;
  }
  
  .Grid {
    flex-direction: column;
  }
  
  
}